.DS_Store
.project
.settings
test/testchain/geth
test/testchain/geth.ipc
test/testchain/history
test/contracts
testOld/testchain/geth
testOld/testchain/geth.ipc
testOld/testchain/history
testOld/contracts
private
